<div class="container">
  <h3>New post</h3>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
         {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>
      <div class="form-group">
        <label for="text">Body</label>
        {{input value=text id="text"}}
      </div>
      <div class="form-group">
        <label for="teaser">Teaser</label>
        {{input value=teaser id="teaser"}}
      </div>
      <div class="form-group">
        <label for="imgURL">Image URL</label>
         {{input value=imgURL id="imgURL"}}
      </div>
      <button {{action 'saveEntry'}}>Save</button>
    </form>
</div>
