{{#if updateEntryForm}}
  <h4>{{entry.title}}</h4>

  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=entry.author}}
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title" placeholder=entry.title}}
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        {{input value=text id="text" placeholder=entry.text}}
      </div>
      <div class="form-group">
        <label for="teaser">Teaser</label>
        {{input value=teaser id="teaser" placeholder=entry.teaser}}
      </div>
      <div class="form-group">
        <label for="imgURL">Image URL</label>
        {{input value=imgURL id="imgURL" placeholder=entry.imgURL}}
      </div>

      <button class="btn btn-default" {{action 'update' entry}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-default"{{action 'updateEntryForm'}}>Update entry</button>
{{/if}}
