<div class="container">
  {{entry-detail entry=model}}
  {{update-entry update="update" entry=model}}
  {{delete-entry destroyEntry="destroyEntry" entry=model}}
  {{new-comment saveComment="saveComment" entry=model}}
  {{comment-list entry=model updateComment="updateComment" destroyComment="destroyComment"}}
</div>
